body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-template-rows: repeat(3, minmax(250px, 1fr));
    border: 1px solid black;
    height: 750px;
    width: 750px;
}

.cell{
    border: 1px solid black;
}