:root {
    --grid-height: 400px;
    --grid-width: 400px;
    --cell-height: 100px;
    --cell-width: 100px;
    --marker-size: 2.5rem;
    --cell-color: #f5f5f5;
    --cell-border-color: #ddd;
    --cell-hover-color: #e0e0e0;
    --marker-color: #333;
    --grid-border-color: #333;
    --winning-cell-color: #90ee90; 
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-family: "Permanent Marker", serif;
    font-weight: 400;
    font-style: normal;
  }


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(var(--cell-height), 1fr));
    grid-template-rows: repeat(3, minmax(var(--cell-width), 1fr));
    height: var(--grid-height);
    width: var(--grid-width);
    margin: 20px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff; 
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--cell-border-color);
    font-size: var(--marker-size);
    font-weight: bold;
    color: var(--marker-color);
    background-color: var(--cell-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.grid-container:nth-child(1){
    border: 4px solid orange;
}

.cell:hover {
    background-color: var(--cell-hover-color);
}

.start-screen, .loading-screen, .game-screen{
    display: none;
    height: 100vh;
    width: 100vw;

}

.start-screen.active{
    display: flex; 
    justify-content: center;
    align-items: center;
    position: absolute; 
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    background-color: #f0f0f0;
}

.loading-screen.active{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 0;
}


.game-screen.active{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.player-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 800px;
    padding: 20px;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    flex: 1;
}

.player-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid #666;
    object-fit: cover;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.player-score-img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 4px solid #666;
    object-fit: cover;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background: #333;
    color: #f0f0f0;
    font-size: 16px;
    text-align: center;
    outline: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

input[type="text"]::placeholder {
    color: #aaa;
}

.symbol {
    font-size: 24px;
    font-weight: bold;
    color: #f0f0f0;
    padding: 10px 20px;
    border-radius: 10px;
    background: #444;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.score{
    display: flex;
    padding: 24px;
    gap: 20px;
}

.x-symbol {
    background: #ff4c4c; /* Rojo para X */
    color: #fff;
}

.o-symbol {
    background: #4caf50; /* Verde para O */
    color: #fff;
}

.versus-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.versus-img {
    width: 100px;
    height: auto;
}

.versus-score-img{
    width: 50px;
    height: auto;
    padding-top: 30px;
}

button.start {
    background: #007bff;
    color: #fff;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s, background 0.3s;
}

button.start:hover {
    background: #0056b3;
    transform: translateY(-3px);
}

button.start:active {
    transform: translateY(0);
}
